@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	margin: 0;
	padding: 0;
	background-image: url(https://images.pexels.com/photos/709732/pexels-photo-709732.jpeg?w=1000&h=750&auto=compress&cs=tinysrgb);
}
.container {
	width: 40%;
	margin-left: 30%;
	text-align: left;
	font-family: 'Lato', sans-serif;
}
.verse, .chorus {
	padding: 0 30px;
	line-height: 21px;
	font-size: 17px;
	}
h4 {
	margin: 0 auto;
	text-transform: uppercase;
}
.chorus p{
	margin-top: 0;
}